<!DOCTYPE html>
<!-- This is the about website page where it tells the user about us -->

<html lang="en-GB"> <!-- Language of the website -->
  
  <head> <!-- Contains title and link to static files and provides meta data -->
    
    <!-- Title and icon (what you see where the tab for the website is) -->
    <title>About Bonnie Bot</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
      RQfiCgEBGyIYwI+kAAAA+klEQVQoz6XRPS9DARjF8V9fVFIh3BpoJzGIj+Et0cTF7gMIq/gQEqPJ
      NzDKlbBguquhixAxWDQEUWlEe9saitTcMz05+efk5Dz0q9TvEULWAJoSoh8/24MOWzAl5d65D52e
      hJCMVfNuXGPWjEvHWtFfQtqUJRduPeJZ1aKKe21ShBk7lh0qW1HHkBOnNp3Zj1pp5G0LZBXFAoFY
      UdaYLXnSyAk8KcmpSiSqckqeBHLdDomGgrpps76wrulTQUPSBWp2lVVsePGOUUXjHhyodYGOI7E3
      r0YtybszYs6eik7PkhBOWjOh7U3sKvo/NYRpgzJo+Yrafb/xR9/pZEbpvgVJgQAAAABJRU5ErkJg
      gg==" rel="icon" type="image/x-icon" />
    
    <!-- Link to the static files -->
    <link href="statics/style.css" rel="stylesheet" type="text/css" /> <!-- CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icon stylesheet -->
    
    <!-- Metadata -->
    <meta charset="utf-8"> <!-- Unicode character set -->
    <meta name="description" content="Chatbot providing advice on COVID-19"> <!-- Description -->
    <meta name="keywords" content="Chatbot, COVID-19 advice, coronavirus advice"> <!-- Keywords (for search engine) -->
    <meta name="author" content="Teo Hughes and Charles Yang"> <!-- Authors -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Width of the viewport, set to device width so it is responsive -->

  </head>

  <!-- Body with a different background image to the main page(blue gradient) -->
  <body style="background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');" onload="theFunction()" style="margin:0;"> <!-- When the body loads theFunction() runs -->
    
    <!-- The loading screen -->    
    <div id="loader"></div>
    
    <!-- What you see on the web page -->
    <div style="display:none;" id="myDiv" class="animate-bottom"> <!-- When the website loads it doesn't show, but when it does it animates as it appears (class="animate-bottom") -->
      
      <!-- The button to scroll to the top -->
      <button onclick="topFunction()" id="myBtn" title="Scroll to top">Scroll To Top</button>
    
      <!-- The Menu bar at the top -->
      <div class = "topnav", id = "myTopnav">

        <!-- The links to the pages on our website -->
        <a href="/" title="Home Page"><i class="fa fa-home"></i> Home</a> <!-- The Home Page -->
        <a href="/howtouse" title="How To Use Bonnie Bot">How To Use</a> <!-- The How To Use page -->
        <a href="/locations" title = "Locations Supported">Locations</a> <!-- The Supported Locations page -->
        <a href = "/feedback" title = "Give Feedback">Give Feedback</a> <!-- The Give Feedback page -->
        <a href="/about" title="About Page" style="background-color: gainsboro;">About Us</a> <!-- The About Us page (Has a background color showing it is active (being used)) -->
        
        <!-- The dropdown showing links to other websites -->
        <div class="dropdown">

          <!-- Button which shows the dropdown when hovered over -->
          <button class="dropbtn">COVID-19 Websites
            <i class="fa fa-caret-down"></i>
          </button>

          <!-- The other websites linked -->
          <div class="dropdown-content">
            <a href="https://www.youtube.com/watch?v=NMre6IAAAiU" target = "_blank" title = "COVID-19 Live Stream">Live COVID-19 Counter Stream</a> <!-- Live COVID-19 Stream -->
            <a href="https://www.ageuk.org.uk/information-advice/coronavirus/" target = "_blank" title = "Age UK">Age UK</a> <!-- Age Uk Website -->
            <a href="https://www.gov.uk/coronavirus" target = "_blank" title = "Official Government Advice">Official Government Advice</a> <!-- Coronavirus gov.uk website -->
            <a href="https://www.supportline.org.uk/problems/coronavirus-covid-19/" target = "_blank" title = "Coronavirus Support Line">Coronavirus Support Line</a> <!-- Coronavirus Support -->
            <a href="https://www.nhs.uk/conditions/stress-anxiety-depression/mental-health-helplines/" target = "_blank" title = "Mental Health Helplines">Mental Health Helplines</a> <!-- Mental Health Helplines -->
          </div>

        </div>

        <!-- Button which shows when the browser window is small (it offers another dropdown) -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>

      </div>

      <!-- The items inside the box -->
      <div class='boxed'>

        <!-- The about us section -->
        <div id="aboutUs">

          <!-- Heading about the "about us" -->
          <p class="mainHeading">About Us</p>
          <hr> <!-- Line -->

          <!-- Text about the chatbot -->
          <div id='textBox'>
            <p class='aboutUsText'>Bonnie Bot is a chatbot created to help answer questions about Coronavirus in a clear and concise manner and in an interactive way. We aim to provide as up-to-date and accurate information as possible by using official government advice. We hope that Bonnie will be able to provide you with some useful advice and we appreciate any feedback you may have!</p>
          </div>
          
          <!-- Heading about who we are -->
          <p class='heading'>Who we are</p>
          <hr class='small'> <!-- Line -->

          <!-- Text about us -->
          <div id='textBox'>
            <p class='aboutUsText'>We are students at Eton College in Year 13 and Year 11 with an interest in computer science, and hope to use the skills we've gained to build an app that you'll hopefully find helpful!</p>
          </div>
          
          <!-- Heading about our purpose -->
          <p class='heading'>Our Purpose</p>
          <hr class='small'> <!-- Small line -->

          <!-- Text about our purpose -->
          <div id='textBox'>
            <p class='aboutUsText'>Our aim with Bonnie is to help address the current Coronavirus crisis and the consequences that it inevitably brings. Given the nationwide lockdown that has been imposed, we hope that some form of interactability will be a welcome change from receiving static google answers. Furthermore, we aim to quickly and easily provide information and advice in one place so that you don't have to go trawling through the web. </p>
          </div>
          
          <!-- Heading about how to contact us -->
          <p class='heading'>Contact Us</p>
          <hr class='small'> <!-- Small line -->

          <!-- Text about how to contact us -->
          <div id='textBox'>
            <p class='aboutUsText'>If you have any queries about Bonnie Bot or if you've found a bug, or even if you're just interested in how we build Bonnie Bot, feel free to email us using the link below or at <b>bonniebot77@gmail.com</b></p>
            <p class = 'aboutUstext'>If you want to provide feedback, please press the Give Feedback button on the menu bar</p>

            <!-- Link to our email -->
            <a href="mailto:bonniebot77@gmail.com" target = "_blank" title="Email us!" class="email">Email Us!</a>
          
          </div>
        
        <!-- End of about us text -->
        </div>

      <!-- End of the box -->
      </div>
    
    <!-- End of the website that we see -->
    </div>


    <!-- Javascript inside the html -->
    <script>

      // Function to show the menu bar differently when it is smaller
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

      // Function to show the loading screen for a second
      function theFunction() {
        myVar = setTimeout(showPage, 1000);
      }

      // Function to stop showing the loading screen and to show the main page
      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }

      // The button to scroll to the top
      var mybutton = document.getElementById("myBtn");

      //Calls the function when the user starts scrolling
      window.onscroll = function() {scrollFunction()};

      //Function to show the button when the user scrolls more than 20px
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }

    </script>

  <!-- End of body -->
  </body>

<!-- End of html -->
</html>