<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bonnie Bot</title>
  </head>
  <body>
    <h1> Chat Bot created by Teo Hughes and Charlie Yangie</h1>
    <h3> Hello, welcome to Bonnie Bot! </h3>
    <h5> Created by Teo Hughes and Charlie Yangie</h5>
    <h2> Your conversation: </h2>
    <a href="https://data-flair.training/blogs/python-chatbot-project/">Python chatbot tutorial</a>
    <img src="https://firefly.etoncollege.org.uk/resource.aspx?id=238181" alt="Funny picture of B block" width="104" height="142">
    
    </body>
</html>