<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
      RQfiCgEBGyIYwI+kAAAA+klEQVQoz6XRPS9DARjF8V9fVFIh3BpoJzGIj+Et0cTF7gMIq/gQEqPJ
      NzDKlbBguquhixAxWDQEUWlEe9saitTcMz05+efk5Dz0q9TvEULWAJoSoh8/24MOWzAl5d65D52e
      hJCMVfNuXGPWjEvHWtFfQtqUJRduPeJZ1aKKe21ShBk7lh0qW1HHkBOnNp3Zj1pp5G0LZBXFAoFY
      UdaYLXnSyAk8KcmpSiSqckqeBHLdDomGgrpps76wrulTQUPSBWp2lVVsePGOUUXjHhyodYGOI7E3
      r0YtybszYs6eik7PkhBOWjOh7U3sKvo/NYRpgzJo+Yrafb/xR9/pZEbpvgVJgQAAAABJRU5ErkJg
      gg==" rel="icon" type="image/x-icon" />
    <title>About Bonnie Bot</title>
    <meta name="description" content="Chatbot providing advice on COVID-19">
    <meta name="keywords" content="Chatbot, COVID-19 advice, coronavirus advice">
    <meta name="author" content="Teo Hughes and Charles Yang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="statics/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');"> 
    <ul>
      <li><a href="/" title="Home Page">Home</a></li>
      <li><a href="https://www.youtube.com/watch?v=NMre6IAAAiU" target = "_blank" title = "COVID-19 Live Stream">Live COVID-19 Counter Stream</a></li>
      <li><a href="https://www.ageuk.org.uk/information-advice/coronavirus/" target = "_blank" title = "Age UK">Age UK</a></li>
      <li><a href="https://www.gov.uk/coronavirus" target = "_blank" title = "Official Government Advice">Official Government Advice</a></li>
      <li><a href="https://www.supportline.org.uk/problems/coronavirus-covid-19/" target = "_blank" title = "Coronavirus Support Line">Coronavirus Support Line</a></li>
      <li><a href="https://www.nhs.uk/conditions/stress-anxiety-depression/mental-health-helplines/" target = "_blank" title = "Mental Health Helplines">Mental Health Helplines</a></li>
      <li style="border-right: none;"><a href="/locations" title = "Locations Supported" style="background-color: gainsboro;">Locations</a></li>
      <li><a href="/about" title="About Page">About</a></li>
      

    </ul>
    <div class='boxed'>
      <div id="aboutUs">
        <p class="mainHeading">Supported Locations</p>
        <hr>
        <div id='textBox'>
          <p class='aboutUsText'>Below are all the locations Bonnie can answer about the number of cases in the area. A quick way to find your area is to press and hold Control then press f. This will bring up a small input box on your screen which you can type your area into. If your area is supported it should take you to it's location on the page. We're very sorry that not all locations are available yet.</p>
        </div>

        <p class='heading'>Locations</p>
        <hr class='small'>

        <div class='listBox'></div>
        

      </div>
    </div>
  </body>

</html>