<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
      RQfiCgEBGyIYwI+kAAAA+klEQVQoz6XRPS9DARjF8V9fVFIh3BpoJzGIj+Et0cTF7gMIq/gQEqPJ
      NzDKlbBguquhixAxWDQEUWlEe9saitTcMz05+efk5Dz0q9TvEULWAJoSoh8/24MOWzAl5d65D52e
      hJCMVfNuXGPWjEvHWtFfQtqUJRduPeJZ1aKKe21ShBk7lh0qW1HHkBOnNp3Zj1pp5G0LZBXFAoFY
      UdaYLXnSyAk8KcmpSiSqckqeBHLdDomGgrpps76wrulTQUPSBWp2lVVsePGOUUXjHhyodYGOI7E3
      r0YtybszYs6eik7PkhBOWjOh7U3sKvo/NYRpgzJo+Yrafb/xR9/pZEbpvgVJgQAAAABJRU5ErkJg
      gg==" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Bonnie Bot</title>
    <meta name="description" content="Chatbot providing advice on COVID-19">
    <meta name="keywords" content="Chatbot, COVID-19 advice, coronavirus advice">
    <meta name="author" content="Teo Hughes and Charles Yang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="statics/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');" onload="theFunction()" style="margin:0;"> 
    
    <button onclick="topFunction()" id="myBtn" title="Scroll to top">Scroll To Top</button>
    <div id="loader"></div>
    
    <div style="display:none;" id="myDiv" class="animate-bottom">
      <div class = "topnav", id = "myTopnav">
        <a href="/" title="Home Page"><i class="fa fa-home"></i> Home</a>
        <a href="/locations" title = "Locations Supported">Locations</a>
        <a href = "/feedback" title = "Give Feedback">Give Feedback</a>
        <a href = "/test" title = "About Test">About Test</a>
        <a href="/about" title="About Page" style="background-color: gainsboro;">About</a>
        <div class="dropdown">
          <button class="dropbtn">COVID-19 Websites
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="https://www.youtube.com/watch?v=NMre6IAAAiU" target = "_blank" title = "COVID-19 Live Stream">Live COVID-19 Counter Stream</a>
            <a href="https://www.ageuk.org.uk/information-advice/coronavirus/" target = "_blank" title = "Age UK">Age UK</a>
            <a href="https://www.gov.uk/coronavirus" target = "_blank" title = "Official Government Advice">Official Government Advice</a>
            <a href="https://www.supportline.org.uk/problems/coronavirus-covid-19/" target = "_blank" title = "Coronavirus Support Line">Coronavirus Support Line</a>
            <a href="https://www.nhs.uk/conditions/stress-anxiety-depression/mental-health-helplines/" target = "_blank" title = "Mental Health Helplines">Mental Health Helplines</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class='boxed'>
        <div id="aboutUs">
          <p class="mainHeading">About Us</p>
          <hr>
          <div id='textBox'>
            <p class='aboutUsText'>Bonnie Bot is a chatbot created to help answer questions about Coronavirus in a clear and concise manner and in an interactable way. We aim to provide as up-to-date and accurate information as possible by using official Government advice. We hope that Bonnie will be able to provide you with some useful advice and we appreciate any feedback you may have!</p>
          </div>
  
          <p class='heading'>Who we are</p>
          <hr class='small'>
          <div id='textBox'>
            <p class='aboutUsText'>We are students at Eton College in Year 13 and Year 11 with an interest in computer science, and hope to use the skills we've gained to build an app that you'll hopefully find helpful!</p>
          </div>
  
          <p class='heading'>Our Purpose</p>
          <hr class='small'>
          <div id='textBox'>
            <p class='aboutUsText'>Our aim with Bonnie is to help address the current Coronavirus crisis and the consequences that it inevitably brings. Given the nationwide lockdown that has been imposed, we hope that some form of interactability will be a welcome change from receiving static google answers. Furthermore, we aim to quickly and easily provide information and advice in one place so that you don't have to go trawling through the web. </p>
          </div>
          
          <p class='heading'>Contact Us</p>
          <hr class='small'>
          <div id='textBox'>
            <p class='aboutUsText'>If you have any queries about Bonnie Bot or if you've found a bug, or even if you're just interested in how we build Bonnie Bot, feel free to email us using the link below or at <b>bonnie_bot@outlook.com</b></p>
            <a href="mailto:bonnie_bot@outlook.com" target = "_blank" title="Email us!" class="email">Email Us!</a>
          
  
        </div>
      </div>
    </div>
    
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
      }
  }
    function theFunction() {
      myVar = setTimeout(showPage, 1000);
  }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
  }
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
  </body>

</html>