body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&w=1000&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1{
  display: block;
  font-size: 4em;
  margin: 0;
  padding: 15px;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: blue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  border-right: 1px solid #E5E1EE;
}
li:last-child {
  border-right: none;
  border-left: 1px solid #E5E1EE;
}

li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 60px;
}
#userInput{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
  
}
#textInput{
  height: 25px;
  width: 90%;
  border-width: 3px 1px 3px 12px;
  border-radius: 6px;
  border-color: #90BEDE;
  background-color: white;
  margin: auto;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#textInput:focus{
  background-color: rgba(173, 216, 230, 0.774);
}
.userText{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: right;
  line-height: 30px;
}
.userText span{
  display: inline-block;
  background-color: white;
  border-style: solid;
  border-color: #90BEDE;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}
.bonnieHeading {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: 30px;
}
.bonnieHeading span{
  display: inline-block;
  background-color: rgb(160, 42, 115);
  background: -webkit-linear-gradient(rgba(211, 110, 43, 0.76), rgba(179, 116, 33, 0.904));
  padding: 20px 140px 20px 140px;
  border-radius: 10px;
}
.botText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 30px;
  padding: 10px 10px;
}
.botText span{
  display: inline-block;
  background-color: white;
  padding: 10px 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #9F84BD;
  font-size: 25px;
}
.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 25px;
  /*background-image: url(https://www.sciencealert.com/images/2020-04/processed/earthmovement_1024.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;*/
  background-color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#aboutUs{
  opacity: 1;
  line-height: 20px;
}

.mainHeading{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
}

.heading{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

hr{ 
  width:70%; 
  height:5px; 
  line-height: 0px;
  background: black;
}

hr.small{
  width: 20%;
  height: 5px;
  background: black;
}

.aboutUsText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  line-height: 30px;
}

#textBox{
  margin-left: 15%;
  margin-right: 15%;
}