body{
  font-family: monospace;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1{
  display: block;
  font-size: 4em;
  margin: 0;
  padding: 15px;
  border-radius: 20px;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#userInput{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#textInput{
  width: 90%;
  border: 10px;
  font-family: monospace;
  font-size: 17px;
}
.userText{
  color:yellowgreen;
  font-family: monospace;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}
.userText span{
  background-color: turquoise;
  padding: 10px;
  border-radius: 2px;
}
.bonnieHeading {
  color: green;
  font-family: monospace;
  font-size: 27px;
  text-align: center;
  line-height: 30px;
}
.bonnieHeading span{
  background-color: #ff0000;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: green;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}
.botText span{
  background-color: #ff0000;
  padding: 10px;
  border-radius: 2px;
}
.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  margin-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 25px;
  background-image: url(https://www.sciencealert.com/images/2020-04/processed/earthmovement_1024.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}